doctype html
html
  head
    title Cocktails 
    meta(charset='utf-8')
    link(rel='stylesheet', href='/stylesheets/w3.css')
    link(rel="stylesheet" href="/stylesheets/styles.css")
    link(rel='icon', href='/images/favicon.png')

  body
    header.w3-container.w3-pink
      h1  Cocktails
    .wrapper
      block content
    footer.w3-container.w3-pink
      p.w3-center &copy; EngWeb2025 - a104448 #{date} 
